/* 
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles in this file instead of style.css so it 
is easier to update the theme. Simply copy an existing style 
from style.css to this file, and modify it to your liking. */


/* 
GLOBAL STYLES
----------------
Add styles beneath this line that you want to be applied across your entire site */

body {
    background-image: url(./images/bg_main.png);
}

#header {
    background: #FFFFFF;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
}

#top-login-bar {
    font-size: 13px;
}
#top-login-bar-wrapper {
    max-width: 960px;
    margin: 0 auto;
    text-align: right;
    padding: 2px;
}
#form-login-bar {
    display: inline-block;
    margin: 0;
}

#welcome-msg {
    color: #D0DFE9;
}

#form-login-bar .submit-btn {
    vertical-align: bottom;
}

#header #logo {
    margin: 20px 0 0 15px;
}

#featured-slider {
    background: #FFFFFF;
    max-width: 960px;
    margin: 0 auto;
}

#content {
    background: #FFFFFF;
    overflow: auto;
}

#header .header-left {
    margin: 0;
}

#header .header-right {
    margin: 20px 15px 20px 0;
}

#main-nav {
    height: 43px;
    background-image: url("./images/buttons/button_bar_body.png");
}

#main-nav li {
    padding: 7px 0;
}

.slide-content .entry {
    margin-top: -22px;
    margin-bottom: -22px;
}

#top-section {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    background: #568215;
}

#top-section header h1 {
    margin-left: 30px;
    width: 500px;
}

#top-section #breadcrumbs {
    margin-right: 30px;
}

/* footer */

#footer-copy
{
    max-width: 960px;
    margin: 0 auto;
    background: #8dc433;
}
#footer-copy p {
    padding: 8px;
    text-align: center;
    color: #000000;
}

#banner-footer {
    margin: 20px 15px;
    overflow: auto;
    background-image: url("images/ApplyAgentBanner.png");
    background-repeat: no-repeat;
    height: 113px;
}

#banner-footer #banner-read-btn {
    float: right;
    position: relative;
    display: block;
    margin-right: 25px;
    margin-top: 40px;
}

#product-recommend
{
    margin:  20px 15px;
    background-image: url("images/ProductRecommentFrame.png");
    background-repeat: no-repeat;
    height: 252px;
}

#agent-recommend
{
    margin: 30px 15px ;
    background-image: url("images/agentRecommentFrame.png");
    background-repeat: no-repeat;
    height: 252px;
}

/* Layout */
.layout-full #main {
    margin: 30px;
    width: 900px;
}

#product-recommend ul.slide-products {
    list-style: none;
    margin: 0 20px;
}
#product-recommend ul.slide-products li {
    display: inline-block;
    width: 200px;
    margin-top: 80px;
    /*background-color: #c7d9ac;*/
    font-size: 13px;
    text-align: center;
    padding: 5px;
}
/* 
DESKTOP STYLES
-----------------
Add styles inside the media query below that you only want to be applied to the desktop layout of your site */

@media only screen and (min-width: 768px) {
	/* Desktop styles go here */
}