
/* ----------------------- GENERAL LAYOUT -----------------------*/
.header-wrapper{
  background-color:#333333;
}
.header-wrapper-inner {
  background-color:#333333;
}
#slideshow,
#pageheading {
  border-top: 2px solid #333333;
}
/* links */
a,a:link,a:visited {
  color:#444444;
  text-decoration:none;
}
a:hover{
  color:#555555;
}
a img, img {
  border:none
}
a.button{
  color: #858585;
}
a.button:hover {
  color: #555555;
}

.content-list h4,
.content-list h5{
  color: #20a9dc;
  margin-bottom: 10px;
}
h4.sidebox-heading {
  color: #333333;
}
.sidebox-content ul  li a {
  color: #787878; 
}
.sidebox-content ul  li a:hover {
  color: #333333; 
}
.jqueryslidemenu ul li a:hover,
.jqueryslidemenu ul li ul li a:hover  {
  color: #333333; /*tab link background during hover state*/
}
.jqueryslidemenu ul li.selected a,
.jqueryslidemenu ul li.current_page_item a, .jqueryslidemenu ul li.current_page_parent a,
.jqueryslidemenu ul li.current-menu-parent a,.jqueryslidemenu ul li.current-page-ancestor a{
  background: #333333;
  color: #ffffff;
}