/* 
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles in this file instead of style.css so it 
is easier to update the theme. Simply copy an existing style 
from style.css to this file, and modify it to your liking. */


/* 
GLOBAL STYLES
----------------
Add styles beneath this line that you want to be applied across your entire site */

body {
    background-image: url(./images/bg_main.png);
    font-family: tahoma !important;
}

#header {
    background: #FFFFFF;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
}

#top-login-bar {
    font-size: 13px;
}
#top-login-bar-wrapper {
    max-width: 960px;
    margin: 0 auto;
    text-align: right;
    padding: 2px;
}
#form-login-bar {
    display: inline-block !important;
    margin: 0;
}

#welcome-msg {
    color: #D0DFE9;
}

#form-login-bar .submit-btn {
    vertical-align: bottom !important;
}

#form-login-bar #username-input, #form-login-bar #password-input {
    line-height: 1.6em !important;
    background: auto !important;
    padding: 3px !important;
    margin: 0px !important;
    font-size: 1em !important;
    font-family: Arial !important;
    color: #000000 !important;
    background-color: #FFFFFF !important;
    border: 1px !important;
    border-radius: 0 !important;
    outline: #006600 !important;
}

#header #logo {
    margin: 20px 0 0 15px;
}

#featured-slider {
    background: #FFFFFF;
    max-width: 960px;
    margin: 0 auto;
}

#content {
    background: #FFFFFF;
    overflow: auto;
}

#header {
    /*height: 85px;*/
}
#header .header-left {
    margin: 0;
}

#header .header-right {
    margin: 20px 15px 20px 0 !important;
    float: right;
    display: inline;
}

#main-nav {
    height: 43px;
    background-image: url("./images/buttons/button_bar_body.png");
}

#main-nav li {
    padding: 7px 0;
}
#navigation ul.nav > li a {
    padding-left: 8px !important;
    padding-right: 8px !important;
}
#navigation {
    /*width: 646px;*/
    /*float: right !important;*/
}

.slide-content .entry {
    margin-top: -22px;
    margin-bottom: -22px;
}

#top-section {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    background: #568215;
}

#top-section header h1 {
    margin-left: 30px;
    width: 500px;
}

#top-section #breadcrumbs {
    margin-right: 30px;
}

/* footer */

#footer-copy
{
    max-width: 960px;
    margin: 0 auto;
    background: #8dc433;
}
#footer-copy p {
    padding: 8px;
    text-align: center;
    color: #000000;
}

#banner-footer {
    margin: 20px 15px;
    overflow: auto;
    background-image: url("images/ApplyAgentBanner.png");
    background-repeat: no-repeat;
    height: 113px;
}

#banner-footer #banner-read-btn {
    float: right;
    position: relative;
    display: block;
    margin-right: 25px;
    margin-top: 40px;
}

#product-recommend
{
    margin:  20px 15px;
    background-image: url("images/ProductRecommentFrame.png");
    background-repeat: no-repeat;
    height: 252px;
}

#agent-recommend
{
    margin: 30px 15px ;
    background-image: url("images/agentRecommentFrame.png");
    background-repeat: no-repeat;
    height: 252px;
    text-align: center;
}

/* Layout */
.layout-full #main {
    margin: 30px !important;
    width: 900px !important;
}

#product-recommend ul.slide-products {
    list-style: none;
    margin: 0 20px;
}
#product-recommend ul.slide-products li {
    display: inline-block;
    width: 200px;
    margin-top: 80px;
    /*background-color: #c7d9ac;*/
    font-size: 13px;
    text-align: center;
    padding: 5px;
}

/* Ninja Form Plugin */
.ninja-forms-form label {
    width: 130px;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}
.ninja-forms-form .field-wrap {
    padding: 3px 0;
}
.ninja-forms-form .submit-form-margin {
    margin-left: 133px;
}
.ninja-forms-form .width-fix-350 {
    width: 350px;
}
.ninja-forms-form .height-fix-120 {
    height: 120px;
}

#image-slide a img
{
    border: 2px solid;
}

/* product pages */
.woocommerce_tabs {
    display: block;
    float: left;
}

.single-product .thumbnails a {
    width: 30.75% !important;
}
.single-product .images img {
    width: 100% !important;
}

/* agent slide styles */
div.agent-slider div.agent-photo {
    width: 185px;
    height: 120px;
    box-shadow: 2px 2px 5px #888888;
    background-color: #FFFFFF;
    text-align: center;
}
div.agent-slider div.agent-photo img {
    margin-top: 9px;
}
div.agent-slider div.agent-name {
    font-size: 12px;
    /*font-weight: bold;*/
    text-align: center;
    margin-top: 5px;
    color: #68ab2f !important;
}
div.agent-slider div.agent-name a {
    color: #68ab2f !important;
}
div#agent-recommend .bx-wrapper {
    position: absolute;
    margin-top: 65px;
    margin-left: 55px;
}
div#agent-recommend .bx-viewport {
    padding: 10px;
}
div#agent-recommend .bx-wrapper .bx-prev {
    left: -30px;
    background: url(images/buttons/preview_green_bt_06.png) no-repeat;
}
div#agent-recommend .bx-wrapper .bx-next {
    right: -60px;
    background: url(images/buttons/next_green_bt.png) no-repeat;
}
.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
}

/* product slide styles */
div.product-slider div.slide {
}
div.product-slider div.product-photo {
    width: 185px;
    height: 120px;
    box-shadow: 2px 2px 5px #888888;
    background-color: #FFFFFF;
    text-align: center;
}
div.product-slider div.product-photo img {
    margin-top: 13px;
}
div.product-slider div.product-name {
    font-size: 12px;
    /*font-weight: bold;*/
    text-align: center;
    margin-top: 5px;
}
div.product-slider div.product-name a {
    color: #e97a00 !important;
}
div#product-recommend .bx-wrapper {
    position: absolute;
    margin-top: 65px;
    margin-left: 55px;
}
div#product-recommend .bx-viewport {
    padding: 10px;
}
div#product-recommend .bx-wrapper .bx-prev {
    left: -30px;
    background: url(images/buttons/preview_orange_bt_03.png) no-repeat;
}
div#product-recommend .bx-wrapper .bx-next {
    right: -60px;
    background: url(images/buttons/next_orange_bt.png) no-repeat;
}
.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
}


/* 
DESKTOP STYLES
-----------------
Add styles inside the media query below that you only want to be applied to the desktop layout of your site */

@media only screen and (min-width: 768px) {
	/* Desktop styles go here */
}


/* ---------------- Register Agent Style --------------- */
#register-aget-menu {
    display: block;
    margin: 10px 0;
}
#register-aget-menu a {
    display: inline-block;
    margin: 5px;
}

.text-orange {
    color: orange;
}

#privilege-banner-left {
    float: left;
    display: block;
}
#privilege-info-right {
    display: inline-block;
    float: right;
    width: 48%;
}
#privilege-info-sum-wrapper {
    background-color: #ffeede;
}
#privilege-info-right ul {
    padding-left: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-image: url('images/register-agent-privilege-bullet.png');
}
#privilege-info-right ul li {
    font-size: 15px;
    font-weight: bold;
    margin: 15px 0;
}

.green-table-style thead tr {
    background-color: #568215;
    color: white;
}
.green-table-style tbody tr:nth-child(odd) {
    background-color: #cfe9a2;
}
.green-table-style tbody tr:nth-child(even) {
    background-color: #b0ca8e;
}


.bg-gray {
    background-color: #f3f3f3;
    padding: 20px;
}

.clear-image-style {
    background: none repeat scroll 0 0 transparent !important;
    border: 0 none !important;
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 !important;
}
.clear-table-style {
    width: auto !important;
    border: 0 none !important;
    box-shadow: none !important;
    background-color: none !important;
}
.clear-table-style td {
    border: 0 none !important;
    box-shadow: none !important;
    background-color: none !important;
    padding: 5px;
    vertical-align: middle !important;
}


#register-aget-download {
    text-align: center;
}

/* ---------------- // END - Register Agent Style --------------- */

/* ---------------- Create Website Style ------------------------ */
#create-web-info-sum-wrapper {
    background-color: #ffeede;
    padding: 10px;
}
#create-web-info-sum-wrapper ul {
    vertical-align: top;
    padding-left: 45px;
    margin: 0 !important;
    margin-left: 60px !important;
    list-style-image: url('images/register-agent-privilege-bullet.png');
}
#create-web-info-sum-wrapper ul li {
    font-size: 15px;
    font-weight: bold;
    margin: 15px 0;
}
#create-web-button {
    text-align: center;
    margin: 25px 0;
}

#create-web-progress-bar {
    overflow: auto;
    text-align: center;
    margin-bottom: 60px;
}
#create-web-progress-bar .step{
    display: inline-block;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 41px;
    padding: 10px 0;
    z-index: 10;
    background-image: url('images/progress_bar/step.png');
    background-repeat: no-repeat;
}
#create-web-progress-bar .step.active {
    background-image: url('images/progress_bar/step-active.png');
}

#create-web-progress-bar .bar {
    display: inline-block;
    width: 200px;
    height: 29px;
    margin: 0 -5px;
    background-image: url('images/progress_bar/bar.png');
    background-repeat: repeat-x;
}
#create-web-progress-bar .bar.active {
    background-image: url('images/progress_bar/bar-active.png');
}

#create-web-progress-bar .step-text {
    position: absolute;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: -15px;
    color: #cbcbcb;
}
#create-web-progress-bar .step-text.active {
    color: #ff7e00;
}
.inline {
    display: inline-block;
}
/* step 2 */
#create-web-agent-info fieldset {
    margin: 20px 0;
    border: 1px dashed #c6c6c6;
    padding: 10px;
}
#create-web-agent-info fieldset legend {
    font-weight: bold;
    font-size: 16px;
    padding: 0 5px;
}
#create-web-agent-info div.field {
    margin: 5px 0;
}
#create-web-agent-info div.field label {
    width: 140px !important;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    vertical-align: top;
}
#create-web-agent-info div.field input[type=text], #create-web-agent-info div.field textarea {
    width: 300px;
}

div#map_canvas {
    border: 1px dashed green !important;
    width: 100%;
    height: 250px;
    margin-top: 25px;
}